# Environment variables — NEVER push this
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/

# Build output
dist/
/build

# Prisma generated client
node_modules/.prisma

# Firebase service account — if you saved it as a file
firebase-service-account.json

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/generated/prisma
